* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  margin-top: 2rem;
}

main {
  padding: 15px;
  box-shadow: 0, 0, 5px #333;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
  transition: .15s ease-in;
}

a:hover {
  color: #6c63ff;
}


i {
  transition: .125s ease-in;
}

i:hover {
  color: #6c63ff;
}

h1,
h2 {
  margin: .75rem 0;
}

p,
div.form-field,
a {
  margin: .6rem 0;
}

footer,
footer>div {
  height: 5rem;
}



input {
  padding: .25rem .5rem;
}

.big-margin {
  margin: 10rem 0;
}

.lead {
  font-weight: 400;
  font-size: 3rem;
}

.icon-size {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between
}

.flex-column {
  flex-direction: column;
}

.flex-gap {
  gap: 50px;

}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap .card {
  margin-bottom: 1rem;
}

.w-full {
  width: 100%;
}

.profile {
  width: 20rem;
  height: 20rem;
  clip-path: circle();
  border: 3px solid #333;
  border-radius: 50%;
}

.section-margin {
  margin: 10rem 0 2rem 0;
}

.first-section-margin {
  margin: 0rem 0 2rem 0;
}

/*.projects-width {*/
/*  width:300px;*/
/*}*/


.card {
  width: 16rem;
  height: 18rem;
  border-radius: 2px;
  border: .01rem solid #d2d2d2;
  padding: 1rem;
  transition: .15s ease-in;
}

.card:hover {
  box-shadow: 0 0 5px #6c63ff;
}

.button {
  background: none;
  border: 1px solid #6c63ff;
  padding: .3rem .75rem;
  transition: .3s ease-in;
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
  background-color: #6c63ff;
  color: #fff;
}

.text-small {
  font-size: .9rem;
}

.project-img-width {
  width: 300px;
}

.h-f-s {
  font-size: .75rem;

}

.form-img {
  width: 25rem;
}

input {
  border: 1px solid #6c63ff;
}

.mw {
  max-width: 500px;
}

.bold {
  font-weight: bold;
}

@media(max-width:500px) {

  .profile {
    width: 25rem;
  }

  .lead {
    font-size: 1.25rem
  }

  .project-flex {
    flex-direction: column;
  }

  .form-section {
    flex-direction: column;
  }

  .form-img {
    width: 100%
  }

}

@media (min-width:501px) {
  footer.flex-gap {
    gap: 200px;
  }
}